extends layout
block body
	h2 Login
	form(class="form form-horizontal" id="form-login")
		.form-group
			label.col-sm-2.control-label Username
			.col-sm-10
				input(type="text" class="form-control" name="user")
		.form-group
			label.col-sm-2.control-label Password
			.col-sm-10
				input(type="password" class="form-control" name="password")
		.form-group
			.col-sm-offset-2.col-sm-10
				input(type="submit" value="Login" class="btn btn-primary")