/*@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	#chat {
		display: none
	}
}*/
#chat {
    position: fixed;
	bottom: 0px;
	/* height: 35px; */
	width: 250px;
	left: 20px;
	z-index: 11;
}

#chat .title {
    height: 35px;
	width: 250px;
	background-image: url(../images/chat/top.png);
	text-transform: uppercase;
	font-size: 22px !important;
	color: #fdc173;
	position: relative;
	cursor: pointer;
	padding: 10.5px 20px;
	text-align: center;
}

#chat .messages {
    height: 280px;
	width: 240px;
	margin: 0px auto;
	background-color: #051626;
	border-left: solid 1px #061424;
	border-right: solid 1px #061424;
	border-bottom: solid 1px #061424;
	padding: 4px;
	overflow: auto;
	word-break: break-word;
	list-style-type: none;
}
#chat .messages .message-item {
    display: flex;
    max-width: 90%;
    margin-bottom: 10px;
}
#chat .messages .message-item .content .bubble {
    position: relative;
    padding: 7px 15px;
    margin-bottom: 4px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
#chat .messages .message-item .content span {
    /* font-size: 12px; */
    color: #686868;
}
#chat .messages .message-item.friend img {
    order: 1;
    margin-right: 15px;
}
#chat .messages .message-item.friend .content {
    order: 2;
}
#chat .messages .message-item.friend .content .bubble {
    background: rgba(114,124,245,.1);
    border-radius: 0 5px 5px
}
#chat .messages .message-item.friend .content .bubble:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -10px;
    top: 0;
    border-color: rgba(114,124,245,.1) rgba(114,124,245,.1) transparent transparent;
    border-style: solid;
    border-width: 5px
}
#chat .messages .message-item.me {
    margin-left: auto;
}
#chat .messages .message-item.me img {
    order: 2;
    margin-left: 15px;
}
#chat .messages .message-item img {
    width: 37px;
    height: 37px;
	border-radius: 50%!important;
}
#chat .messages .message-item.me .content {
    order: 1;
    margin-left: auto;
}
#chat .messages .message-item.me .content .bubble {
    background: rgba(102,209,209,.1);
    border-radius: 5px 0 5px 5px;
    margin-left: auto;
}
#chat .messages .message-item.me .content .bubble:before {
    content: "";
    width: 0;
    height:0 ;
    position: absolute;
    right: -10px;
    top: 0;
    border-color: rgba(102,209,209,.1) transparent transparent rgba(102,209,209,.1);
    border-style: solid;
    border-width: 5px;
}
#chat .messages .message-item.me .content span {
    text-align: right;
    display: block;
}

#chat .messages .embed {
	cursor: pointer;
}

#chat .messages .wait {
    text-align: center;
}

#chat .selector {
    position: relative;
	background-color: #051626;
	width: 240px;
	margin: 0px auto;
	height: 35px;
}

#chat .selector ul {
    display: none;
    position: absolute;
    bottom: 0px;
    margin-bottom: 29px;
    left: 10px;
    background-color: #153045;
    min-width: 82px;
    border-top-left-radius: 4px;
    border-top-right-radius: 5px;
    padding: 0px 10px 5px 11px;
}

#chat .selector ul li {
    height: 20px;
    padding-top: 8px;
    margin-bottom: 2px;
    cursor: pointer
}

#chat .selector #message {
    margin-top: 5px;
	margin-left: 10px;
	width: 220px;
	border-radius: 3px;
	height: 24px;
	background-color: #153045;
	border: none;
	padding-left: 10px;
	padding-right: 25px;
	color: #FFF;
	outline: none !important
}

#chat .selector #as {
    position: absolute;
	right: 17px;
	top: 7px;
}

#chat .selector-trigger {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 11px;
    cursor: pointer
}

textarea:focus, input:focus{
    outline: none;
}

#chat .chat-world {
    color: #B2B2B2;
}

#chat .chat-anime {
    color: #B2B2B2;
}
#chat .message-item .chat-when {
	font-size: inherit !important;
}
#chat .message-item .chat-user {
    color: #ffe9a5;
    margin-bottom: 5px;
	text-align: left !important;
}

#chat .chat-gm .chat-user {
    color: #FFB34F !important;
}

#chat .chat-guild .chat-user {
    color: #4F72C4
}

#chat .chat-message {
    padding-left: 8px;
    padding-right: 8px;
    line-height: 16px;
    margin-bottom: 3px
}

#chat .chat-system {
    display: block;
    text-align: center;
    background-color: #FFCC99;
    margin: 4px;
    border-radius: 5px;
    padding: 4px;
    font-weight: bold;
    border: solid 1px #C24F15;
    color: #C24F15;
}

#chat .chat-warn {
    display: block;
    text-align: center;
    background-color: #f95353;
    margin: 4px;
    border-radius: 5px;
    padding: 4px;
    font-weight: bold;
    border: solid 1px #790505;
    color: #FFF;
}
#chat .chat-system,
#chat .chat-warn {
	margin-bottom: 10px;
}

.chat-pvt {
    position: fixed;
    /* bottom: 378px; */
    left: 230px;
    cursor: pointer;
    z-index: 13
}

.chat-pvt .l {
    background-image: url(../images/chat/notification_l.png);
    width: 22px;
}

.chat-pvt .r {
    background-image: url(../images/chat/notification_r.png);
    background-position: top right;
    margin-left: -10px;
    padding-right: 12px;
    padding-top: 3px;
    height: 27px !important;
    font-weight: bold;
}

.chat-pvt .l, .chat-pvt .r {
    height: 30px;
    float: left
}

#chat .chat-user {
    font-weight: bold;
    cursor: pointer
}

.reply-box {
    background-image: url(../images/chat/bg_private.png);
    width: 247px;
    height: 122px;
    position: fixed;
    left: 290px;
    bottom: 10px;
    z-index: 1000000;
}

.reply-box .next, .reply-box .close-pv {
    position: absolute;
    right: 10px;
    bottom: 13px;
    background-repeat: no-repeat;
    background-image: url(../images/chat/next.png);
    background-position: right bottom;
    padding-right: 14px;
    cursor: pointer;
}

.reply-box .reply {
    position: absolute;
    bottom: 13px;
    left: 23px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../images/chat/reply.png);
    padding-left: 14px;
    cursor: pointer;
}

.reply-box .close-pv {
    background-image: none !important;
}

.reply-box .from {
    position: absolute;
    left: 23px;
    top: 8px;
    font-weight: bold;
}

.reply-box .wait {
    position: absolute;
    bottom: 13px;
    margin-left: 23px;
    width: 216px;
    text-align: center;
    font-weight: bold;
}

.reply-box .text {
    position: absolute;
    left: 23px;
    top: 30px;
    width: 216px;
    display: block;
}
